<a href="https://colab.research.google.com/github/yagomsv/aulas_ciencia_de_dados_UFBA/blob/main/Aula_1_C_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso relâmpago de Python

Este notebook é dedicado a uma breve iniciação à programação em Python com vistas à utilização em problemas básicos de ciênia de dados. Os códigos estão escritos na liguagem Python e utilizam as bibliotecas [Numpy](https://numpy.org/), [Scipy](https://scipy.org/) e [Pandas](https://pandas.pydata.org/).

![image.png]()

Breve descrição dessas biblitecas:
- **Numpy:** é um pacote fundamental para computação científica.
- **Scipy:** pacote de algoritmos fundamentais para computação científica.
- **Pandas:** é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar, construída sobre a linguagem python.

## 1.Instalando e utilizando o Python

Este notebook está preparado para o ambiente [google colaboratory](https://colab.research.google.com/), então você não precisa se preocupar em instalar nada em seu computador! Basta ter uma conta no google e rodar os códigos disponibilizados gratuitamente.

![colab_favicon_256px.png]()

**Plataformas de computação científica**

Há várias situações em que não podemos utilizar a computação em nuvem, como quando se têm conexões de internet instáveis ou se trabalha com dados sigilosos. Nesse caso, você precisará instalar o Python e as demais bibliotecas em seu computador, e para tal a opção mais recomendável é que você obtenha uma plataforma integrada de computação científica. Nessas plataformas, todas as bibliotecas e dependências necessárias para a aplicação do *Python* na área científica são instaladas de forma consistente, o que é bem prático e pode te poupar de certas dores de cabeça.

Umas das plataformas mais utilizadas é a [Anaconda ](https://www.anaconda.com/), disponibilizada gratuitamente pela Continuum Analytics. Em particular gosto de usar as IDE's [Jupyter Notebook](https://docs.jupyter.org/en/latest/) e [JupyterLab](https://jupyterlab.readthedocs.io/en/stable/) para escrever notebooks como este que você esta lendo. Tanto o Jupyter Notebook quanto o JupyterLab são instalados quando se instala o Anaconda.

[Clique aqui para um tutoria de instalação do Pacote Anaconda.](https://youtu.be/tp4_BGU02VQ)

![image.png]()

Importante se atentarem a instalação da versão do Python 3, já que essa versão é a mais utilizada atualmente e que possui um maior número de bibliotecas disponíveis.

Vale também ressaltar que, além do Google Colaboratory, há várias outras alternativas para a computação em nuvem, como o [Azure da Microsoft](https://learn.microsoft.com/en-us/azure/?product=popular), [Kaggle](https://www.kaggle.com/), [CoCalc](https://cocalc.com/) e etc.

**Uso do *Python***

A comunicação com o Python é feita por meio de comandos que passamos ao interpretador da linguagem.

In [2]:
# Este é um comentário. Comentários são linhas que começam com hashtag (#)
# Comentários são ignorados pelo interpretador do Python.
# Eles só servem para o programador se comunicar com eventuais 
# leitores do código, como vc, caro aluno.

## 2. Objetos

Um objeto em Python é uma região da memória do computador contendo dados e informações associadas a esses dados. Tais informações são;


*   uma identidade, número pelo qual o objeto é identificado na memória;
*   um tipo.

Não é possível modificar a identidade ou tipo de um onjeto. A depender de qual seja seu tipo, pode ou não ser possível modificar os dados que o objeto armazena.

Praticamente tudo em Python pode ser encarado como um objeto! Números, funções, estruturas de dados, módulos e etc.

Um objeto pode ou não ter um ou mais nomes (também chamados de identificadores) que o programador usa para identificá-los. Por exemplo, quando digitados o seguinte comando:

In [3]:
obj = 2

estamos associando o nome **obj** a um objeto que armazena o valor **2** na memória.

Se digitarmos:

In [4]:
obj = 3

estamos reassociando o nome **obj** a um outro objeto que armazena o valor **3** na memória. O antigo objeto, que armazena o valor **2**, permanece intacto na memória, mas sem um nome para identificá-lo.

Podemos acessar a identidade e o tipo de um objeto com os seguintes comandos:

In [5]:
id(obj)

139976639097200

In [6]:
type(obj)

int

No caso, nosso objeto **obj** tem a identidade **140047872989552** e é do tipo **int (número inteiro)**.

Um objeto pode ter vários nomes. Por exemplo, já associamos anteriormente o nome **obj** ao objeto 3. Podemos agora associar um novo nome a esse objeto:

In [7]:
novo_nome = 3

Vamos confirmar que **obj** e **novo_nome** referem-se ao mesmo objeto:

In [8]:
id(obj)

139976639097200

In [9]:
id(novo_nome)

139976639097200

A identidade é a mesma, portanto, os dois nomes referem-se ao mesmo objeto.

A lista completa de nomes associados aos objetos na memória é chamada de espaço de nomes (*namespace*). Podemos visualizar o espaço de nomes com o comando **dir()**:

In [10]:
dir()

['In',
 'Out',
 '_',
 '_5',
 '_6',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'novo_nome',
 'obj',
 'quit']

Todos esses nomes (em sua maioria definidos por trás dos panos pelo Python) estão sendo usados para se referir a objetos. Perceba a presença de **obj** e **novo_nome**, definidos nos exemplos acima.

*Mão na massa!*

- Na célula abaixo, crie um objeto numérico que você imagine não ser do tipo **int** e imprima na tela seu **id** e seu **tipo**.

## 3. Usando o python como calculadora

**Comandos básicos**

Os comandos para realizar operações aritméticas são intuitivos:

In [11]:
# abaixo temos comandos para realizar as operações aritméticas

a = 3
b = 4
c = a + b
d = a*b
e = c/d
f = b**a

O único sinal que pode causar um pouco de estranheza é o **, que denota exponenciação.

Ao definir objetos e realizar operações, o prompt não fornece nenhum retorno. Para visualizar os resultados, devemos usar a função **print**:

In [12]:
print(c)
print(d)
print(e)
print(f)
print(c+d)

7
12
0.5833333333333334
64
19

**Objetos numéricos**

Em Python, temos três tipos de objetos numéricos: **int**, **float** e **complex**:

- **int**: corresponde ao conjunto dos números inteiros;

- **float**: corresponde ao conjunto dos números racionais (conhecidos na área da computação como números de ponto flutuante);

- **complex**: corresponde ao conjunto dos números complexos.

Vamos checar os tipos dos objetos **c**, **d** e **e** calculados no item anterior.

In [13]:
type(c)

int

In [14]:
type(d)

int

In [15]:
type(e)

float

Para definir objetos **float**, usamos o ponto decimal:

In [16]:
oi = 2.5
type(oi)

float

Podemos definir objetos complexos de duas maneiras:

In [17]:
ai = 1.0 - 2.0j
type(ai)

complex

In [18]:
ei = complex(2.0,3.0)
type(ei)

complex

In [19]:
ei

(2+3j)

In [20]:
print(ai+ei)

(3+1j)

Repare que a unidade imaginária $\sqrt{-1}$ é denotada pela letra **j**.

## 4. Importando Módulos

Funções matemáticas como seno, cosseno ou exponencial não estão disponíveis diretamente na linguagem. Para utilizá-las, é preciso importar um *módulo* que as contenha.

*Módulos* são códigos contendo objetos previamente programados que você pode incorporar aos seus próprios códigos.

Para utilizar um módulo, é necessário importá-lo com o comando **import**. Abaixo, importaremos o módulo [NumPy](https://numpy.org/), que contém uma biblioteca de funções dedicadas a cálculos numéricos:

In [21]:
import numpy as np

No comando acima, importamos o módulo [NumPy](https://numpy.org/) utilizando o identificador **np.** Isso significa que qualquer objeto do [NumPy](https://numpy.org/) em nosso código deve ser precedido pelo prefixo **np.**, como ilustrado abaixo:

In [24]:
valor1 = np.cos(0)
valor2 = np.sin(np.pi)

print(valor1)
print(valor2)

1.0
1.2246467991473532e-16

Perceba que o resultado de $sen(\pi)$ não deu exatamente zero, como esperaríamos, mas sim um número extremamente pequeno. Esse ínfimo valor residual é resultado do inevitável erro inerente a qualquer cálculo numérico. Neste caso, o erro é tão pequeno (1,22 x 10$^{-16}$) que consideramos o valor como sendo zero, para todos os efeitos.

*Mão na massa!*

- Calcule o valor da expressão: $ [\sin(\pi^2)-\cos(2\pi-i)] ^3 $:

-2.835780385352074e-06

## 5. Estrutura de dados

Estruturas de dados são objetos que contém outros objetos. Estudaremos as seguintes estruturas: 

* listas;
* tuplas;
* strings;
* dicionários;
* arrays definidas na biblioteca [NumPy](http://www.numpy.org/).

### Listas


*Listas* são estruturas contendo objetos ordenados que **podem ser modificados.**

Definimos listas usando colchetes [...]:

In [35]:
lista = [1,2,3]

A lista acima armazena os valores 1, 2 e 3.

Acessamos os valores escrevendo o nome da lista seguido de um colchete contendo a posição do elemento desejado:

In [37]:
elemento1 = lista[0]
elemento2 = lista[1]
elemento3 = lista[2]

In [38]:
print(elemento1)
print(elemento2)
print(elemento3)

1
2
3

À posição do elemento na lista damos o nome de *índice*. A primeira posição nas estruturas em Python é identificada com o índice 0, a segunda posição é identificada com o índice 1, e assim por diante. No início, isso pode causar certa confusão, mas logo você se acostuma (ou não).

A última posição na lista pode ser acessada com o índice -1, a penúltima posição com o índice -2, e assim por diante:

In [40]:
ult = lista[-1]
penult = lista[-2]
antepenult = lista[-3]

print(ult)
print(penult)
print(antepenult)

3
2
1

Acessamos uma faixa de valores da lista usando um comando conhecido como *slice*, escrito na forma **nome_da_lista [ start: end : intervalo ]**. Exemplo:

In [41]:
A = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

B = A[1:8:2]

print(B)

[20, 40, 60, 80]

Na segunda linha da célula acima, acessamos os elementos de índice 1 até 8 (sem incluir o 8!) da lista **A**, indo de 2 em 2. É importante destacar que o elemento entre os sinais de 'dois pontos', denotado por **end** (no caso acima, o de índice 8) *não é incluído*.

Se quisermos acessar o último elemento da lista, basta usar a forma  **nome_da_lista [ start :  : intervalo ]** (sem  um número que represente o **end** entre os dois sinais de 'dois pontos'):

In [43]:
print(A[1: :2])

[20, 40, 60, 80, 100]

Se não especificarmos o **intervalo**, ou seja, se usarmos a forma **nome_da_lista [ start : end ]**, acessaremos uma faixa da lista indo de 1 em 1:

In [44]:
print(A[0:4])

[10, 20, 30, 40]

Se quisermos modificar uma faixa de elementos de uma lista existente sem criar uma nova lista, basta escrever **nome_da_lista [ start: end : intervalo ]** do lado *esquerdo* da equação:

In [45]:
print(A)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [46]:
A[0:9:2] = [1, 3, 5, 7, 9]

print(A)

[1, 20, 3, 40, 5, 60, 7, 80, 9, 100]

Os elementos de uma lista podem ser objetos de qualquer tipo, inclusive funções:

In [48]:
lista_2 = [1.0, 2.0-3j, np.cos]

x = lista_2[2](np.pi)

print(x)

-1.0

Armazenamos a função cosseno na **lista_2** e a acessamos na lista para calcular o cosseno de $\pi$. Lembre-se de que o prefixo **np** antes de **cos** e **pi** é o identificador da biblioteca [NumPy](http://www.numpy.org/).

*Mão na massa!*

- Defina uma lista que contenha os números naturais de 1 a 10 e use um *slice* para acessar apenas os múltiplos de 3.

### Tuplas

*Tuplas* são muito parecidas com as listas, com a diferença de que seus elementos não podem ser modificados. Ou seja, tuplas são ***objetos imutáveis***.

Definimos tuplas de maneira parecida com que definimos as listas, mas agora utilizamos parênteses (...):

In [68]:
tupla = (1,2,3)

A tupla acima armazena os valores 1, 2 e 3. 



Um uso muito prático das tuplas é na definição de vários objetos de uma só vez:

In [70]:
a, b, c = 1, 2, 3

In [71]:
print(a)
print(b)
print(c)

1
2
3

A notação das tuplas proporciona um método bem fácil para trocar os valores de objetos:

In [72]:
a, b = b, a

In [73]:
print(a)
print(b)

2
1

Em outras linguagens de programação, implementar essa simples operação não seria uma tarefa tão prática.

O acesso a elementos das tuplas, assim como com as listas, também se dá com o *slice* na forma **nome_da_tupla [ start: end : intervalo ]**.

In [80]:
tupla_guardada = (100,200,300,400,500)

print(tupla_guardada[0:3:2])

(100, 300)

*Mão na massa!*

* Crie uma lista e uma tupla. Tente modificar um dos elementos de cada uma. O que ocorre?

### Strings

*Strings* são objetos imutáveis que armazenam **caracteres**. Definimos strings usando aspas duplas ou simples:

In [88]:
s1 = 'Oi! Eu sou uma string!'
type(s1)

str

In [89]:
s2 = "Olá. Eu também sou uma string."
type(s2)

str

Podemos imprimir as strings na tela:

In [90]:
print(s1,s2)

Oi! Eu sou uma string! Olá. Eu também sou uma string.

Podemos escrever strings diretamente dentro do comando ***print***, sem atribuir identificadores a elas:

In [91]:
delta_S = 2.0
delta_t = 3.0

v = delta_S/delta_t

print("A velocidade média vale: ",v, "m/s.")

A velocidade média vale:  0.6666666666666666 m/s.

O acesso dos elementos de uma string usa o slice **nome_da_string [ start: end : intervalo ]**, exatamente da mesma forma que para as listas e as tuplas:

In [92]:
S = 'computador'

print(S[0:3], S[7:])

com dor

No comando acima, selecionamos as faixas **0:3** e **7:** da string **S**, deixando de fora a infame faixa **3:7**.

### Dicionários

Dicionários são estruturas mutáveis contendo objetos não ordenados cujos índices podem ser quaisquer objetos imutáveis.

Dicionários são definidos entre chaves e seus elementos devem estar escritos na forma **índice:objeto**:

In [93]:
# dicionário armazenando massas molares de três substâncias
# os índices dos objetos são strings contendo as fórmulas das substâncias
massas_molares = {'H20': 18, 'CO2': 44, 'H2': 2}

print(massas_molares['CO2'])

44

In [94]:
# dicionário armazenando os vencedores da copa do mundo fifa, de 1990 a 2014
# os índices dos objetos são números inteiros representando os anos das copas

vencedores_copas = {1990: 'Alemanha', 1994: 'Brasil', 1998: 'França',\
                    2002: 'Brasil', 2006: 'Itália', 2010: 'Espanha',\
                    2014: 'Alemanha', 2018: 'França', 2022: 'Argentina'}

print(vencedores_copas[2022])

Argentina

Dicionários são muito úteis para implementação de bancos de dados simples, como pode-se notar acima.

### Arrays Numpy

*Arrays* são as estruturas implementadas na biblioteca [NumPy](http://www.numpy.org/) com o objetivo de providenciar uma forma conveniente e eficiente de se representar vetores e matrizes numéricas na linguagem Python. São as estruturas mais importantes para quem trabalha com computação científica e ciência de dados.

Definimos uma array com  a função [np.array](https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html):

In [95]:
A = np.array([1,2,3,4])

print(A)

[1 2 3 4]

No caso acima, **A** representa um vetor (array unidimensional). O argumento da função [np.array](https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html) deve ser uma lista (por isso os colchetes dentro dos parênteses).

Para definir uma matriz (array bidimensional), basta fornecer à função [np.array](https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html) uma lista que contenha várias outras listas que armazenem as linhas da matriz:

In [96]:
B = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

print(B)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Não se perca com os parênteses e colchetes no comando acima! Os parênteses delimitam os argumentos da função, os colchetes mais externos delimitam a matriz e os colchetes internos delimitam as linhas da matriz.

É importante que fique clara a interpretação de uma matriz como uma array de duas dimensões. As linhas constituem a primeira dimensão e as colunas constituem a segunda dimensão.

Para acessar os elementos de uma array, usamos como índices uma tupla de inteiros positivos:

In [97]:
print(B[0,2])

3

No comando acima, seleciona-se a posição 0 da primeira dimensão (ou seja, a primeira linha) e a posição 2 da segunda dimensão (ou seja, a terceira coluna). Lembre-se de que a contagem começa do 0 e não do 1 - por isso a posição 2 corresponde à terceira coluna.

Também é possível usar *slices* como índices:

In [98]:
B[0:2,1:4]

array([[2, 3, 4],
       [6, 7, 8]])

No caso acima, efetua-se **um slice em cada dimensão**. 

Na primeira dimensão (ou seja, nas linhas), os índices vão de 0 a 2, selecionando-se as duas primeiras linhas.

Na segunda dimensão (ou seja, nas colunas), os índices vão de 1 a 4, selecionando-se a segunda, a terceira e a quarta colunas.

Observe que a sintaxe do *slice* em cada dimensão obedece ao que aprendemos com as listas, **start:end:intervalo**. Quando não se especifica o intervalo, ou seja, o formato é **start:end**, o intervalo *default* é 1. Quando não se especifica o end, (o formato é apenas **start:**), vai-se até o final da dita dimensão. Quando não se especifica o start (o formato é apenas **:end**), começa-se do elemento inicial. Perceba que o Python interpreta se nos referimos ao start ou ao end a depender da posição do sinal de dois pontos.

In [99]:
B[:,3]

array([ 4,  8, 12])

O comando acima quer dizer: em todas as linhas, pegue o elemento da coluna 3 (segunda coluna). Confira que pode ser o contrário:

In [100]:
B[0,:]

array([1, 2, 3, 4])

No caso acima, selecionamos o primeiro elemento de cada linha em todas as colunas.

Existem várias outras funções mais flexíveis para se definir arrays, dentre as quais se destacam:

* [np.arange (start, end, interv)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html): cria uma array unidimensional de elementos igualmente espaçados entre **start** (inclusive) e **end** (exclusive), indo de **interv** em **interv**;
<br> <br>
* [np.linspace (start, end, size)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html): cria uma array unidimensional de elementos igualmente espaçados entre **start** (inclusive) e **end** (inclusive), com número total de elementos igual a **size**;
<br> <br>
* [np.zeros (dim)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html): cria uma array com elementos nulos, de dimensão **dim**. Para criar uma array multidimensional com esse comando, devemos fornecer uma tupla como o argumento **dim** (ver exemplos abaixo);
<br> <br>
* [np.ones (dim)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ones.html): cria uma array com elementos unitários, de dimensão **dim**;
<br> <br>
* [np.zeros_like (A)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros_like.html): cria uma array de mesma dimensão que **A**, com elementos nulos;
<br> <br>
* [np.ones_like (A)](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ones_like.html): cria uma array de mesma dimensão que **A**, com elementos unitários;
<br> <br>
* [np.random.standard_normal (dim)](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.standard_normal.html): cria uma array com elementos aleatórios amostrados da [distribuição normal padrão](https://pt.wikipedia.org/wiki/Distribui%C3%A7%C3%A3o_normal#Distribui%C3%A7%C3%A3o_normal_padr%C3%A3o), de dimensão **dim**.

Exemplos de aplicações:

In [101]:
A = np.arange(0.0, 5.0, 0.5)
print(A)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]

In [103]:
B = np.linspace(0.0, 5.0, 5)
print(B)

[0.   1.25 2.5  3.75 5.  ]

In [106]:
C = np.zeros(3)
print(C)

[0. 0. 0.]

In [107]:
D = np.zeros((2,3))
print(D)

[[0. 0. 0.]
 [0. 0. 0.]]

In [108]:
E = np.ones((4,5))
print(E)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [109]:
F = np.zeros_like(E)
print(F)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [110]:
G = np.random.standard_normal((2,3))
print(G)

[[0.42843524 0.339908   0.30699445]
 [0.0316184  1.88663549 1.93001464]]

*Mão na massa!*

* Crie uma array com todos os números pares entre 100 e 200.

In [118]:
pares = np.linspace(100,200,51)
pares

array([100., 102., 104., 106., 108., 110., 112., 114., 116., 118., 120.,
       122., 124., 126., 128., 130., 132., 134., 136., 138., 140., 142.,
       144., 146., 148., 150., 152., 154., 156., 158., 160., 162., 164.,
       166., 168., 170., 172., 174., 176., 178., 180., 182., 184., 186.,
       188., 190., 192., 194., 196., 198., 200.])

* Crie duas matrizes de formato 2x3, chamadas **A** e **B**, com elementos aleatórios amostrados da distribuição normal padrão.

In [120]:
A = np.random.standard_normal((2,3))
B = np.random.standard_normal((2,3))
A, B

(array([[ 0.42608526, -0.14467367,  0.6224288 ],
        [-0.44852054, -0.11992802,  0.6216052 ]]),
 array([[-0.14020895,  1.59356519,  0.17499937],
        [ 0.30493091,  0.79864387, -0.43374492]]))

##6. A Biblioteca Pandas

Esta seção será dedicada à apresentação da biblioteca [pandas](https://pandas.pydata.org/), que contém recursos especiais para análise e manipulação de dados (em particular, tabelas numéricas e séries temporais). Seu uso é padrão em aplicações de ciência de dados no Python. A biblioteca faz uso de vários recursos do [NumPy](http://www.numpy.org/) e [Matplotlib](https://matplotlib.org/). Para importá-la, escrevemos:

In [121]:
import pandas as pd

### Séries

Uma [série](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) no [pandas](https://pandas.pydata.org/) é composta por:

* *valores*: uma array unidimensional, contendo uma sequência de valores numéricos de interesse;
* *índices*: uma outra array unidimensional, com legendas para estes valores.

Definimos séries fornecendo uma lista (ou outra estrutura como tupla, array [NumPy](http://www.numpy.org/), ...) com os valores:

In [122]:
obj1 = pd.Series([5,6,8,9])
print(obj1)

0    5
1    6
2    8
3    9
dtype: int64

Na visualização acima, os índices estão à esquerda e os valores, à direita. 

Perceba que os índices, se não especificados na definição, por *default* são inteiros começando do zero.

É possível definir séries com índices de outra natureza:

In [123]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

É possível extrair apenas os valores ou apenas os índices das séries:

In [124]:
print(obj1.values)
print(obj1.index)

[5 6 8 9]
RangeIndex(start=0, stop=4, step=1)

In [125]:
print(obj2.values)
print(obj2.index)

[ 4  7 -5  3]
Index(['d', 'b', 'a', 'c'], dtype='object')

Pode-se acessar um elemento individual por meio de seu índice:

In [127]:
obj2['b']

7

A mesma sintaxe pode ser usada para adicionar um novo elemento à série:

In [128]:
obj2['e'] = 9
obj2

d    4
b    7
a   -5
c    3
e    9
dtype: int64

Pode-se criar séries a partir de dicionários:

In [145]:
sdata = {'Rio de Janeiro': 35000, 'São Paulo': 71000, 'Minas Gerais': 16000, 'Espírito Santo': 5000}
obj3 = pd.Series(sdata)
print(obj3)

Rio de Janeiro    35000
São Paulo         71000
Minas Gerais      16000
Espírito Santo     5000
dtype: int64

Perceba que os índices são criados a partir das chaves dos dicionários. É possível ordená-los:

In [130]:
states = ['São Paulo', 'Ceará', 'Rio de Janeiro', 'Rio Grande do Sul']
obj4 = pd.Series(sdata, index=states)
print(obj4)

São Paulo            71000.0
Ceará                    NaN
Rio de Janeiro       35000.0
Rio Grande do Sul        NaN
dtype: float64

Aos estados que não constam do dicionário *sdata* são atribuídos valores NaN (*Not a Number*), o que indica a existência de *dados faltantes* na série. Dados faltantes constituem um problema sério e recorrente em qualquer análise de dados.

É possível realizar operações matemáticas com as séries:

In [144]:
obj3+obj4

Ceará                     NaN
Espírito Santo            NaN
Minas Gerais              NaN
Rio Grande do Sul         NaN
Rio de Janeiro        70000.0
São Paulo            142000.0
dtype: float64

*Mão na massa!*

* Adicione três novos estados à série **obj3**.

In [148]:
states = ['Rio de Janeiro', 'São Paulo', 'Minas Gerais', 'Espírito Santo','Bahia', 'Sergipe', 'Alagoas']
obj3 = pd.Series(obj3, index=states)
print(obj3)

Rio de Janeiro    35000.0
São Paulo         71000.0
Minas Gerais      16000.0
Espírito Santo     5000.0
Bahia                 NaN
Sergipe               NaN
Alagoas               NaN
dtype: float64

### DataFrames

Um [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) é uma tabela de dados composta por um conjunto ordenado de colunas, cada qual de um diferente tipo (numérico, string, boleano...)

Há dois conjuntos de índices, um para as linhas e outro para as colunas. Podemos entender um DataFrame como um dicionário de séries que compartilham os mesmos índices.

Abaixo, construímos um DataFrame a partir de um dicionário. Este DataFrame contém nome, Idade e Curso de determinados alunos.

In [160]:
exemplo = pd.DataFrame({'Nome': ["Bruna", "José", "Caio"],
                        "Idade": [22,21,21],
                        "Curso": ["Eng. Química", "Eng. de Produção", "Eng. de Controle"]})
exemplo

    Nome  Idade             Curso
0  Bruna     22      Eng. Química
1   José     21  Eng. de Produção
2   Caio     21  Eng. de Controle

In [161]:
exemplo1 = pd.DataFrame({'Nome': ["John", "Lu", "Zé"],
                        "Idade": [22,23,25],
                        "Curso": ["Eng. Química", "Eng. Ambiental", "Eng. de Controle"]})
exemplo1

   Nome  Idade             Curso
0  John     22      Eng. Química
1    Lu     23    Eng. Ambiental
2    Zé     25  Eng. de Controle

A função [.concat](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html?highlight=concat#pandas.concat) concatena objetos pandas ao longo de um eixo específico.

In [164]:
df1 = pd.concat([exemplo, exemplo1], ignore_index=True)
df1

    Nome  Idade             Curso
0  Bruna     22      Eng. Química
1   José     21  Eng. de Produção
2   Caio     21  Eng. de Controle
0   John     22      Eng. Química
1     Lu     23    Eng. Ambiental
2     Zé     25  Eng. de Controle

O *ignore_index* é para que o novo dataFrame criado a partir da concatenação não leve em consideração os valores de índices dos dataFrames originais.

#### Dados de fontes externas

Uma das principais funções da biblioteca Pandas é poder carregar dados de outras fontes de dados, como de arquivos do tipo *.xlsx e .csv*.

O Google Colab não tem acesso ao HD da máquina que estamos usando. Então como fazemos para acessar os arquivos?
Bom, existem várias formas mas a forma que adotaremos aqui será a de usar o **Google Drive** como o nosso "HD".

**O primeiro passo** é realizar o *upload* do arquivo na pasta do google Drive.

![image.png]()

**O segundo passo** é copiar o caminho do arquivo de seu desejo clicando com o botão direito e selecionando a opção copiar caminho do arquivo. Essa cópia ficará salva na área de transferência, e você pode pressionar Ctrl+V para colar o caminho dentro de uma célula do notebook.

![image.png]()

A função [***.read_excel***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html?highlight=read_excel#pandas.read_excel), permite ler um arquivo do Excel em um DataFrame Pandas. Essa função suporta a leitura de arquivos do tipo:  *xls, xlsx, xlsm, xlsb, odf, ods e odt.*

In [189]:
dataset = pd.read_excel("/content/Cópia de 2019volleyball.xlsx")
dataset

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
1,Macris Carneiro,176,19,Brazil,Setter,1989-03-03,178,68,292,285,NaN,220.0,833.00
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
5,Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,NaN,573.00
7,Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,NaN,540.20
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
10,Simge Åebnem AkÃ¶z,405,4,Turkey,Libero,1991-04-23,168,55,250,245,NaN,72.0,471.00
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
13,LÃ©ia Nicolosi,187,19,Brazil,Libero,1985-03-01,168,60,268,257,NaN,220.0,425.50
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,NaN,417.00
16,Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
17,Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,NaN,404.00
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,NaN,373.00
23,Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
27,Micha Hancock,389,219,USA,Setter,1992-11-10,177,68,289,283,Right,NaN,358.30
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,NaN,345.00

### Funções para a Análise de Dados

A função [***.isna()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isna.html?highlight=isna#pandas.isna) detecta os valores faltantes em todas as colunas do dataFrame. Convém utilizar essa função conjuntamente com a função ***.sum()***, que realizará a soma de todos os dados faltantes em cada uma das colunas do DataFrame.

In [169]:
dataset.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        7
Pontos                0
dtype: int64

A função [***.fillna()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html?highlight=fillna#pandas.DataFrame.fillna) irá preencher as lacunas de dados faltantes utilizando um método específicado. Neste caso preencheremos os valores faltantes com 0's.

In [198]:
dataset['Pontos do país'] = dataset['Pontos do país'].fillna('0')

In [199]:
dataset.isna().sum()

Nome                  0
Ranking Geral         0
Ranking em 2020       0
Nacionalidade         0
Posição               0
Data de Nascimento    0
Altura (cm)           0
Peso (kg)             0
Salto (cm)            0
Bloqueio (cm)         0
Mão Dominante         3
Pontos do país        0
Pontos                0
dtype: int64

podemos também exluir linhas do DataFrame que possuam dados faltantes utilizando a função [***.dropna()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna).

O parâmetro *axis*, determina se estaremos exluindo linhas ou colunas do DataFrame com dados faltantes:
- axis = 0: exlui linhas.
- axis = 1: exclui colunas.

Por *default* axis = 0.


O parâmetro *inplace*, determina se aquela modificação feita no DataFrame original ficará em definitivo:
- inplace = True: mudança definitiva no DataFrame.
- axis = False: mudança não defititiva.

In [191]:
dataset_1 = dataset.dropna(axis = 0, inplace = False)
dataset_1

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.00
2,Gabriela GuimarÃ£es,31,13,Brazil,Outside Hitter,1994-05-19,180,65,305,289,Right,220.0,788.00
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.50
4,Paola Egonu,134,2,Italy,Opposite,1998-12-18,190,70,336,315,Right,165.0,597.00
5,Bethania De La Cruz,23,25,Dominican Republic,Outside Hitter,1987-05-13,188,68,315,310,Right,108.0,593.60
7,Mayu Ishikawa,1601,1668,Japan,Outside Hitter,2000-05-14,173,65,300,290,Right,190.0,553.25
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.10
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.00
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.00
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.50
16,Jineiry Martinez,677,0,Dominican Republic,Middle-blocker,1997-12-03,190,68,305,280,Right,108.0,416.10
17,Mayany Souza,1211,257,Brazil,Middle-blocker,1996-11-24,185,62,293,282,Right,220.0,405.50
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.20
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.00
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.50
23,Maja OgnjenoviÄ,58,273,Serbia,Setter,1984-08-06,183,68,300,293,Right,252.0,371.00
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.00
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.00
26,Samantha Bricio,598,1837,Mexico,Outside Hitter,1994-11-22,188,58,302,283,Right,35.0,360.00
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.00

Visualização dos dados utilizando as funções ***.head()*** e ***.tail()***.

In [ ]:
dataset.head(10)

In [ ]:
dataset.tail(10)

In [203]:
dataset['Posição']

0     Outside Hitter
1             Setter
2     Outside Hitter
3           Opposite
4           Opposite
5     Outside Hitter
6     Outside Hitter
7     Outside Hitter
8           Opposite
9     Outside Hitter
10            Libero
11    Outside Hitter
12          Opposite
13            Libero
14    Middle-blocker
15          Opposite
16    Middle-blocker
17    Middle-blocker
18    Middle-blocker
19    Middle-blocker
20    Middle-blocker
21    Middle-blocker
22          Opposite
23            Setter
24    Outside Hitter
25    Middle-blocker
26    Outside Hitter
27            Setter
28    Middle-blocker
29    Outside Hitter
Name: Posição, dtype: object

In [204]:
dataset[["Posição", "Peso (kg)", "Nacionalidade"]]

           Posição  Peso (kg)       Nacionalidade
0   Outside Hitter         78               China
1           Setter         68              Brazil
2   Outside Hitter         65              Brazil
3         Opposite         84              Serbia
4         Opposite         70               Italy
5   Outside Hitter         68  Dominican Republic
6   Outside Hitter         75                 USA
7   Outside Hitter         65               Japan
8         Opposite         77                 USA
9   Outside Hitter         83  Dominican Republic
10          Libero         55              Turkey
11  Outside Hitter         78               China
12        Opposite         76                Cuba
13          Libero         60              Brazil
14  Middle-blocker         81              Brazil
15        Opposite         75                 USA
16  Middle-blocker         68  Dominican Republic
17  Middle-blocker         62              Brazil
18  Middle-blocker         83                 USA
19  Middle-blocker         78              Russia
20  Middle-blocker         78              Brazil
21  Middle-blocker         73              Brazil
22        Opposite         75     Russia, Ukraine
23          Setter         68              Serbia
24  Outside Hitter         72              Turkey
25  Middle-blocker         74              Turkey
26  Outside Hitter         58              Mexico
27          Setter         68                 USA
28  Middle-blocker         75               China
29  Outside Hitter         74                 USA

[***.info()***](https://pandas.pydata.org/pandas-docs/stable/search.html?q=info%28%29) nos retorna um sumário com dados consistentes sobre o DataFrame.

In [200]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nome                30 non-null     object
 1   Ranking Geral       30 non-null     int64
 2   Ranking em 2020     30 non-null     int64
 3   Nacionalidade       30 non-null     object
 4   Posição             30 non-null     object
 5   Data de Nascimento  30 non-null     object
 6   Altura (cm)         30 non-null     int64
 7   Peso (kg)           30 non-null     int64
 8   Salto (cm)          30 non-null     int64
 9   Bloqueio (cm)       30 non-null     int64
 10  Mão Dominante       27 non-null     object
 11  Pontos do país      30 non-null     object
 12  Pontos              30 non-null     float64
dtypes: float64(1), int64(6), object(6)
memory usage: 3.2+ KB

[***.shape***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape) nos retorna uma tupla que representa a dimensionalidade do DataFrame.

In [201]:
dataset.shape

(30, 13)

Podemos utilizar uma coluna como índice do DataFrame, a função [***.set_index()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html?highlight=set_index) realiza esta função no Pandas.

O parâmetro drop pode ser utilizado para excluir (= True) ou não (= False) a coluna a ser utilizada como índice.

In [ ]:
dataset_2 = dataset.set_index("Nome", drop = True, inplace = False) # Tira o índice numérico e adiciona o "Nome" como índice
dataset_2

Para sabermos os valores possíveis dentro de uma coluna do DataFrame utilizamos a função [***.values_counts()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html?highlight=value_counts#pandas.DataFrame.value_counts).

In [211]:
dataset["Mão Dominante"].value_counts(dropna=False)

Right    24
NaN       3
Left      3
Name: Mão Dominante, dtype: int64

Uma função muito importante para realizarmos uma análise estatística descritiva de forma rápida nos dados é utilizar a função [***.describe()***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe).

In [212]:
dataset.describe()

,Ranking Geral,Ranking em 2020,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Pontos
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,351.166667,266.300000,187.833333,72.133333,307.633333,296.366667,492.541667
std,390.695497,497.398415,8.436715,7.445125,17.440506,16.283021,181.231626
min,3.000000,0.000000,168.000000,55.000000,250.000000,245.000000,345.000000
25%,52.500000,4.500000,183.500000,68.000000,302.000000,289.250000,373.375000
50%,183.500000,21.000000,190.000000,74.000000,311.000000,300.000000,421.250000
75%,549.250000,251.500000,194.000000,77.750000,315.750000,308.000000,549.987500
max,1601.000000,1837.000000,201.000000,84.000000,336.000000,320.000000,1190.000000

Através da função [***.loc***](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html?highlight=loc) e as condicionantes é possível acessar grupo de linhas e colunas em um DataFrame através de rótulos e com isso analisar mais facilmente os dados. 

Essa função é muito poderosa e bastante utilizada na análise de dados!

Vamos analisar dentro do conjunto de jogadores de Voley presentes no DataFrame, quais deles possuem peso maior que 70 kg retornando os respectivos nomes dos jogadores.

In [219]:
dataset.loc[dataset["Peso (kg)"]>70]["Nome"]

0                  Ting Zhu
3         Tijana BoÅ¡koviÄ
6           Kelsey Robinson
8              Andrea Drews
9        Brayelin MartÃ­nez
11              Yingying Li
12           Melissa Vargas
14               Mara LeÃ£o
15              Karsta Lowe
18             TeTori Dixon
19           Irina Koroleva
20          Caroline Gattaz
21       Ana Carolina Silva
22      Nataliya Goncharova
24           Ebrar Karakurt
25        Eda Erdem DÃ¼ndar
28            Yuanyuan Wang
29    Jordan Larson-Burbach
Name: Nome, dtype: object

Ainda utilizando a função ***.iloc***, retorna os jogadores que possuem peso maior que 70 kg e altura maior que 190 cm.

In [221]:
dataset.loc[(dataset["Peso (kg)"]> 70) & (dataset["Altura (cm)"]> 190)]

(14, 13)

Agora queremos analisar quais jogadores que possuem peso maior que 70 kg ou altura maior que 190 cm.

In [223]:
dataset.loc[(dataset["Peso (kg)"]> 70) | (dataset["Altura (cm)"]> 190)]

,Nome,Ranking Geral,Ranking em 2020,Nacionalidade,Posição,Data de Nascimento,Altura (cm),Peso (kg),Salto (cm),Bloqueio (cm),Mão Dominante,Pontos do país,Pontos
0,Ting Zhu,3,23,China,Outside Hitter,1994-11-29,198,78,327,305,Right,320.0,1190.0
3,Tijana BoÅ¡koviÄ,28,3,Serbia,Opposite,1997-03-08,194,84,329,310,Left,252.0,630.5
6,Kelsey Robinson,180,0,USA,Outside Hitter,1992-06-25,188,75,306,300,Right,0,573.0
8,Andrea Drews,621,14,USA,Opposite,1993-12-25,191,77,316,312,Left,0,540.2
9,Brayelin MartÃ­nez,83,0,Dominican Republic,Outside Hitter,1996-09-11,201,83,330,320,Right,108.0,538.1
11,Yingying Li,511,75,China,Outside Hitter,2000-02-19,192,78,312,300,Right,320.0,459.0
12,Melissa Vargas,562,0,Cuba,Opposite,1999-10-16,194,76,320,310,Right,30.0,447.0
14,Mara LeÃ£o,229,357,Brazil,Middle-blocker,1991-07-26,192,81,310,297,Right,220.0,425.5
15,Karsta Lowe,718,1081,USA,Opposite,1993-02-02,196,75,315,305,Left,0,417.0
18,TeTori Dixon,329,1081,USA,Middle-blocker,1992-08-04,191,83,306,295,Right,0,404.0
19,Irina Koroleva,119,10,Russia,Middle-blocker,1991-10-04,196,78,315,305,Right,208.0,401.2
20,Caroline Gattaz,48,19,Brazil,Middle-blocker,1981-07-27,192,78,315,299,Right,220.0,400.0
21,Ana Carolina Silva,51,6,Brazil,Middle-blocker,1991-04-08,183,73,316,309,Right,220.0,374.5
22,Nataliya Goncharova,34,235,"Russia, Ukraine",Opposite,1989-06-01,196,75,321,310,Right,0,373.0
24,Ebrar Karakurt,459,24,Turkey,Outside Hitter,2000-01-17,194,72,307,305,Right,72.0,368.0
25,Eda Erdem DÃ¼ndar,57,0,Turkey,Middle-blocker,1987-06-22,188,74,315,302,Right,72.0,367.0
28,Yuanyuan Wang,981,75,China,Middle-blocker,1997-07-14,195,75,312,300,Right,320.0,351.0
29,Jordan Larson-Burbach,32,650,USA,Outside Hitter,1986-10-16,186,74,302,295,Right,0,345.0

## Referências

Esta aula foi idealizada a partir do [Curso Relâmpago de Python](https://www.kaggle.com/code/afrniomelo/curso-rel-mpago-de-python) com as devidas adaptações.